<div id="data-container-<%= keyword.id %>">
  <% if keyword.complete? %>
    <li class="list-group-item">
      <%= keyword.name %> - <%= link_to 'View Result', search_result_keyword_path(keyword.id), target: '_blank' %>
    </li>
  <% elsif keyword.failed? %>
    <li class="list-group-item">
      <%= keyword.name %> - (An Error Occurred, Will retry soon..)
    </li>
  <% elsif keyword.searching? %>
    <li class="list-group-item">
      <%= keyword.name %> - (Please Wait, Searching...)
    </li>
  <% elsif keyword.retrying? %>
    <li class="list-group-item">
      <%= keyword.name %> - (Retrying...)
    </li>
  <% else %>
    <li class="list-group-item">
      <%= keyword.name %>
    </li>
  <% end %>
</div>
