<% content_for :title do %>
  <title>Search Result for <%= @keyword.name %></title>
<% end %>

<div class="container">
  <div class="page-header my-3">
    <h1><%= @keyword.name %></h1>
  </div>
  <div class="p-5 rounded-4 border border-2 border-light">
    <div class="panel-body">
      <p>AdWords Advertisers: <%= @search_result.adwords_count %></p>
    </div>
    <div class="panel-body">
      <p>Total Links: <%= @search_result.links_count %></p>
    </div>
    <div class="panel-body">
      <p>Total Search Results: <%= @search_result.total_results %></p>
    </div>
    <div class="panel-body">
      <p>HTML Code: <%= link_to "Show Scraped Content", search_result_path(@search_result), target: '_blank' %>
      </p>
    </div>
  </div>
</div>
