<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <%= content_for(:title) %>
    <% else %>
      <title>GoogleSearchScraper</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-wrap">
      <%= render 'layouts/nav_content' %>
      <%= yield %>
    </div>
  </body>
</html>
